/************
General
*************/
h1 {
  color: blue;
  font-size: 40px;
}

p {
  font-size: 20px;
}

.addressHeader {
  font-size: 25px;
}

.addressInfo {
  font-size: 20px;
}
body {
  background-color: #f5f5dc;
}

.mainText {
  border: 2px solid black;
  margin-top: 10px;
}

img {
  display: block;
  /* width: 40%; */
}

/*************
Cincy pictures
**************/

.cincy1 {
  /* display: block;
  margin-right: auto;
  margin-left: 10%;
  float: left; */
  max-width: 100%;
  height: auto;
}

.cincy2 {
  /* display: block;
  height: 335px; */
  max-width: 100%;
  height: auto;
}

/**************
Navbar styling
**************/
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar {
  float: left;
}

.navBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar a:hover {
  background-color: #111;
}

/*******
  Sidebar info 
  *******/
.hotelInfo {
  display: block;
  float: right;
  border: 2px solid black;
  margin: 0 1.5%;
  width: 50%;
}

.addressSection {
  display: block;
  border: 2px solid black;
  width: 40%;
  padding-right: 70px;
  margin-bottom: 5px;
  margin-left: 15px;
  float: left;
  position: absolute;
}
/**********
  Hotel pics
  **********/
.hotelPicColumns{
  column-count: 2;
  display: block;
  /* border: 2px solid black; */
  float: left;
  
}

.hotelPics1 {
  max-width: 100%;
  height: auto;
  margin-right: -16px;
  float:right;
}

.hotelPics2 {
  max-width: 100%;
  height: auto;
  margin-right: -16px;
  float: left;

}

.hotelScreenShots {
  width:100%;
  height: auto;
}


/***************
Logo banner
****************/
.logo {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%; */
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(images/reunionLogo.jpg);
}

/* #column1 {
  -ms-flex: 50%; 
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

#column2 {
  -ms-flex: 50%; 
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

#column1 img {
  margin-top: 8px;
  vertical-align: middle;
}

#column2 img {
  margin-top: 8px;
  vertical-align: middle;
} */

/******************************************
Bullet point formatting for family members
*******************************************/
#members {
  background-color: #f5f5dc;
}

#listMembers {
  background-color: #f5f5dc;
}

/**********
Mobile styling
**********/
@media only screen and (max-width:500px) {
  nav {
    display: block;
    width: 100%;
  }

  
  .hotelPics1 {
    width: 100%;
    height: auto;
  }
  
  .hotelPics2 {
    width: 100%;
    height: auto;
  
  }
.hotelScreenShots {
  width:100%;
  height: auto;
}

.hotelInfo {
  width: 50%;
  height: auto;

}

.addressSection {
  width: 40%;
  height: auto;
  padding-right: 5px;
}

  /* p.magnifiable:hover { font-size: 200%; } */
}
